<div class="container">
  <div class="row r-items">
    <ul class="c-items">
      <li class="c-item" [ngClass]="{'show-img': imagesArray[0].showImg}">
        <img src="assets/images/header01.jpg">
      </li>
      <li class="c-item" [ngClass]="{'show-img': imagesArray[1].showImg}">
        <img src="assets/images/header02.jpg">
      </li>
      <li class="c-item" [ngClass]="{'show-img': imagesArray[2].showImg}">
        <img src="assets/images/header03.jpg">
      </li>
    </ul>
  </div>
  <div class="row r-numbers">
    <div class="c-numbers">
      <div class="c-number" (click)="changeSlide(0)" [ngClass]="{'selected-img': imagesArray[0].showImg}"><img src="assets/images/header01.jpg"><span>1</span></div>
      <div class="c-number" (click)="changeSlide(1)" [ngClass]="{'selected-img': imagesArray[1].showImg}"><img src="assets/images/header02.jpg"><span>2</span></div>
      <div class="c-number" (click)="changeSlide(2)" [ngClass]="{'selected-img': imagesArray[2].showImg}"><img src="assets/images/header03.jpg"><span>3</span></div>
    </div>
  </div>
  <!-- <div class="clip-container">
    <div class="clip1"></div>
    <div class="clip2"></div>
  </div> -->
</div>