<div class="my-app-container">
  <div class="text-container">
    <p *ngIf="isDispalyText">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias doloremque minima vel corrupti nostrum, vitae excepturi nemo odit obcaecati? Eum magni repellendus dolore nisi similique maiores eligendi debitis corrupti enim!
    </p>
  </div>
  <div class="btn-container">
    <button mat-raised-button color="primary" (click)="toggleDisplay()">Display Details</button>
  </div>
  <div class="log-list">
    <div class="log-item" *ngFor="let log of logArray; let i = index;">
      <mat-card [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'white'}" [ngClass]="{'white-color' : i >= 4}">
        {{log}}
      </mat-card>
    </div>
    
  </div>
</div>